{% extends 'base.html' %}

{% block title %}Notas{% endblock %}

{% block content %}
    <h1>Notas</h1>
    <ul>
        {% for aluno in alunos %}
            <li>
                <span>{{ aluno.nome }}: <strong>Nota: {{ aluno.nota }}</strong></span>
                {% if aluno.nota >= 7 %}
                    <span><strong>| Aprovado</strong></span>
                {% else %}
                    <span><strong>| Reprovado</strong></span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}